<div class="container">
    <div class="register">
        <form [formGroup]="form" (ngSubmit)="handleSubmit()">
            <mat-form-field>
                <mat-label>Nick</mat-label>
                <input formControlName="nick" required matInput autocomplete="off">
                <mat-error *ngIf="form.get('nick').dirty || form.get('nick').touched">
                    {{getErrorMessage('nick')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Imię</mat-label>
                <input formControlName="firstName" required matInput autocomplete="off">
                <mat-error *ngIf="form.get('firstName').dirty || form.get('firstName').touched">
                    {{getErrorMessage('firstName')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nazwisko</mat-label>
                <input formControlName="lastName" required matInput autocomplete="off">
                <mat-error *ngIf="form.get('lastName').dirty || form.get('lastName').touched">
                    {{getErrorMessage('lastName')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Adres e-mail</mat-label>
                <input formControlName="email" required matInput autocomplete="off">
                <mat-error *ngIf="form.get('email').dirty || form.get('email').touched">
                    {{getErrorMessage('email')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hasło</mat-label>
                <input formControlName="password" required name="password" matInput
                    [type]="hidePassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.get('password').dirty || form.get('password').touched">
                    {{getErrorMessage('password')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Typ włosów (opisz swoje włosy)</mat-label>
                <input formControlName="hairType" required matInput autocomplete="off">
                <mat-error *ngIf="form.get('hairType').dirty || form.get('hairType').touched">
                    {{getErrorMessage('hairType')}}
                </mat-error>
            </mat-form-field>
            <button class="register-btn" type="submit" [class.btn-disabled]="!form.valid"
                [disabled]="!form.valid">Zarejestruj się</button>
        </form>
    </div>
    <button (click)="goToLogin()" class="go-to-login-btn">Wróć do logowania</button>
</div>